{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/policy.css') }}">
{% endblock %}

{% block body %}
<div class="privacyContainer">
    <h1>Qui sommes-nous ?</h1>

    <p>Donec semper aliquam lacus ac scelerisque. Fusce ut est pharetra, lacinia dolor vitae, euismod dolor. Vestibulum imperdiet tristique nisi, nec sodales erat pellentesque sed. Nunc quam sem, euismod nec aliquet ut, convallis quis erat. Aenean eu ex turpis. Quisque tincidunt, nulla ut feugiat porttitor, quam nisl vestibulum magna, eget suscipit dolor dolor malesuada ex. Mauris ultrices rutrum dui, quis tincidunt nunc consequat et. Nam eu ligula fermentum, pharetra ex nec, gravida odio. Duis blandit pretium leo et lacinia. Etiam eget fermentum sem, sit amet convallis diam. Mauris lacinia in odio vitae tristique.</p>
</div>
{% endblock %}
