{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/policy.css') }}">
{% endblock %}

{% block body %}
<div class="privacyContainer">
    <h1>Qui sommes-nous ?</h1>

    <p>Donec semper aliquam lacus ac scelerisque. Fusce ut est pharetra, lacinia dolor vitae, euismod dolor. Vestibulum imperdiet tristique nisi, nec sodales erat pellentesque sed. Nunc quam sem, euismod nec aliquet ut, convallis quis erat. Aenean eu ex turpis. Quisque tincidunt, nulla ut feugiat porttitor, quam nisl vestibulum magna, eget suscipit dolor dolor malesuada ex. Mauris ultrices rutrum dui, quis tincidunt nunc consequat et. Nam eu ligula fermentum, pharetra ex nec, gravida odio. Duis blandit pretium leo et lacinia. Etiam eget fermentum sem, sit amet convallis diam. Mauris lacinia in odio vitae tristique.</p>
    <br>
    <p>Praesent bibendum urna ac purus gravida commodo. Nulla consectetur maximus nibh, ut lacinia erat. Nunc feugiat ut purus et ultricies. Aenean pretium erat nec ullamcorper laoreet. Aliquam imperdiet pellentesque nisl non mattis. Nulla a urna at erat rhoncus cursus sit amet ac lacus. In id orci mollis, tempus justo quis, fermentum sem. Phasellus eget ultrices nibh. Suspendisse vel velit sit amet lectus molestie vehicula. Aliquam id laoreet elit, eu sodales augue.</p>
    <br>
    <p>Duis aliquam ipsum vitae nibh volutpat varius. Vestibulum porta enim odio, eu varius mi ullamcorper ut. Morbi sit amet leo odio. Duis et urna in mi viverra blandit quis sed dui. Proin egestas enim a sagittis euismod. Curabitur eleifend ligula eget tellus cursus semper. Nam dolor felis, tempus ut laoreet sed, tristique pulvinar ligula. Vivamus eu urna non augue rutrum tincidunt. Duis et dignissim ante, ac porttitor eros. Proin augue dui, sodales in dictum vitae, feugiat in dolor. Aliquam eget lobortis enim, et vehicula quam. Aenean mattis mi non lectus placerat, vel vestibulum urna pretium. Curabitur sollicitudin, tortor sit amet laoreet laoreet, ex nunc cursus ante, eget aliquet turpis ex vitae leo.</p>
</div>
{% endblock %}
