.articleShow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 0px 50px;
    height: calc(100vh - 77px);
}

.articleInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* background-color: blue; */
}

.articleInfo h1 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 31px;
    font-weight: 400;
    color: #000;
    line-height: 1.0;

}

.articleInfo h2 {
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.articleImg {
    text-align: center;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
}

.articleImg img {
    max-width: 650px;
    max-height: 650px;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: center;
    background-color: #fff;
}

.articleBtn {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.articleBtn h3 {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.articleBtn a {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.articleBtn a:hover {
    color: #5c5c5c;
}

.articleBtn .btn {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.articleBtn .btn:hover {
    color: #5c5c5c;
}

.adminBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 5px;
}

.contactButton {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.articleBtn .contactButton:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    transition: all 0.3s ease;
}




.articleInfoDetails  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 2px;
}

.articleInfoDetails h3 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.articleInfoDetails h2 {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    /* font-style: italic; */
    
}

.articleInfoBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    width: 100%;
    /* background-color: red; */
}

.articleInfoBtn a {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.articleInfoBtn a:hover {
    color: #5c5c5c;
}

