.articleShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    /* margin: 50px auto 0 auto; */
}

.articleShow img {
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    object-fit: contain;
    object-position: center;
    background-color: #fff;
}

.articleInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
}

.articleInfoText h2 {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.articleInfoText h3 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-top: 2px;
}

.articleInfoBtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    width: 100%;
    /* background-color: red; */
}

.articleInfoBtn a {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.articleInfoBtn a:hover {
    color: #5c5c5c;
}