.privacyContainer {
    width: 60%;
    font-family: "Geist", sans-serif;
    line-height: 1.4;
    color: #000;
    padding: 0 0 30px 0;
}

.privacyContainer h1 {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.privacyContainer h2 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.privacyContainer h3 {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-top: 10px;
    text-transform: uppercase; 
}

.privacyContainer p {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}