{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/policy.css') }}">
{% endblock %}

{% block body %}
<div class="privacyContainer">
    <h1>Politique de confidentialité</h1>

    <h2>Nulla bibendum ultrices mi</h2>
    <p>Curabitur scelerisque molestie leo. Nunc sodales tortor in mauris scelerisque, at feugiat quam finibus. Vivamus euismod eleifend hendrerit. Maecenas eget nulla massa. Vestibulum libero felis, viverra vitae ipsum interdum, venenatis tempor quam. Maecenas hendrerit est ac vestibulum accumsan. Donec libero enim, viverra nec erat id, tincidunt molestie est. In consectetur viverra ligula eu rhoncus. Phasellus vel neque in odio dictum accumsan. Nullam eu feugiat arcu.</p>

    <h2>Aliquam erat odio</h2>
    <p>Etiam vehicula et neque vitae rutrum. Phasellus accumsan, metus eget feugiat rhoncus, lacus sapien porttitor tellus, non malesuada arcu enim mollis nisi. Aliquam erat volutpat. Fusce auctor sollicitudin semper. Nunc quis massa vitae metus dictum tempus sed ut enim. Nullam vitae aliquam dolor, a pellentesque ligula. Sed congue rhoncus imperdiet. Quisque malesuada purus id odio mollis accumsan. Praesent consequat tincidunt dolor, sed interdum leo consequat sed. Vestibulum a purus non odio luctus ornare sed vitae massa. Curabitur est nisi, gravida vel sapien ut, semper viverra eros. Duis in varius nulla. Vestibulum rutrum non ex et vehicula. Nunc eget imperdiet sapien. Suspendisse efficitur metus at quam gravida, eu venenatis justo mollis. Donec euismod quis eros non consectetur.</p>

    <h2>Pellentesque sit amet velit vel libero</h2>
    <p>Duis vestibulum fermentum leo luctus eleifend. Curabitur placerat turpis metus, vel interdum nibh molestie a. Nam eu venenatis mauris, et vulputate orci. Sed porta arcu at consequat sollicitudin. Phasellus placerat maximus purus, ac hendrerit tortor sagittis quis. Fusce turpis orci, suscipit in neque vitae, consequat dictum diam. Fusce porttitor convallis ante, eget gravida mauris scelerisque et. Quisque vitae odio tellus. Integer sit amet pulvinar nunc. Etiam placerat justo non dignissim gravida. Vestibulum varius ipsum non eros sagittis viverra et in erat. Proin vestibulum sem lorem, in vehicula elit fermentum vitae. Vestibulum imperdiet hendrerit vehicula. Phasellus euismod molestie pharetra. Maecenas non tempor tellus, sit amet sagittis dui.</p>

    <h2>Aenean id dictum nibh</h2>
    <p>Phasellus condimentum, lorem vitae varius vulputate, purus risus accumsan metus, id vestibulum elit massa at nisi. In eget augue fringilla, euismod arcu ac, accumsan nisi. Aliquam erat odio, malesuada ut vulputate nec, molestie nec dui. Proin tincidunt nulla enim, ut cursus metus dignissim eu. Morbi a egestas nibh. Ut dignissim velit eget vestibulum vestibulum. Morbi blandit justo sit amet nibh luctus varius. Nunc non lectus erat. Duis euismod metus vel enim consequat, sed facilisis dolor tincidunt. Duis eu tristique mauris. Morbi quis ipsum vitae turpis luctus bibendum sit amet at libero.</p>

    <h3>Duis tempus gravida risus eu luctus. Aliquam ut cursus dolor, vel rutrum justo. Vivamus et mollis nibh. Vestibulum cursus metus in nisl vestibulum, in congue eros pulvinar. Sed mi erat, convallis non velit ac, faucibus dignissim diam. Donec ac eros ligula. Fusce sodales mattis erat bibendum porttitor. Praesent eget aliquam risus. Quisque sagittis nibh ac quam mattis interdum. Fusce mollis sem rutrum libero facilisis porta.</h3>

    <h2>Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum ultrices mi, eu blandit nisi iaculis eget. Pellentesque sit amet velit vel libero sollicitudin pretium et pretium est. Proin consectetur euismod porta. Vestibulum ullamcorper ac mauris posuere lacinia. Nam facilisis, ligula ut ultrices blandit, velit magna tincidunt est, sit amet interdum libero felis sed lectus. Ut malesuada metus ac dolor rhoncus, sit amet rhoncus libero ultricies. Mauris eget lacus et sem convallis luctus ut vel nibh. Nam ornare accumsan dolor eget dictum. Praesent ultricies lectus purus, non finibus augue tincidunt in. Aenean id dictum nibh, sed fringilla mauris. Curabitur sed ultrices lacus, at viverra lacus. Curabitur id consequat est. Morbi ultrices eros tortor, ut iaculis augue ultricies ac.</p>

    <h2>Vestibulum libero felis viverra vitae</h2>
    <p>Quisque commodo metus nec eros dictum blandit. Mauris in tristique ante, a commodo orci. Vestibulum ultrices arcu ut suscipit elementum. Integer nibh mi, pellentesque vel ultrices sed, dictum id justo. Donec venenatis enim a viverra hendrerit. Phasellus a auctor nisl, id iaculis nibh. Nullam fringilla pellentesque magna malesuada pulvinar. Nunc at arcu vitae neque viverra eleifend. Ut risus sapien, bibendum id sodales at, sodales in ex. Nulla eget laoreet massa. Curabitur aliquet elit in sem blandit suscipit. Fusce suscipit arcu orci, a congue eros posuere in. Praesent eu mattis ligula. Etiam non interdum felis. Morbi nulla ante, aliquet in efficitur ac, placerat eget purus. Cras consectetur ut ante id interdum.</p>

    <h2>Donec venenatis enim a viverra hendrerit</h2>
    <p>Aliquam vitae dictum velit. Aenean vehicula diam quis nisl semper, id egestas quam varius. Mauris rutrum, sapien eget mollis vehicula, erat erat feugiat magna, non ornare tortor est ac risus. Curabitur lacinia at orci at mattis. Ut sed malesuada magna. Quisque et ex quis purus fermentum pellentesque. Ut ac aliquet metus. In hac habitasse platea dictumst. Proin tempor erat sed turpis consequat, ac sagittis sapien faucibus. Vestibulum orci elit, tincidunt a nisl at, dapibus rhoncus est. Morbi vitae lacus at tortor pellentesque sollicitudin. Vestibulum id suscipit nunc, eu commodo libero. Curabitur sodales ligula eu felis maximus, sit amet pellentesque felis iaculis. Vestibulum posuere mollis arcu sit amet pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam ultrices nisi a ante accumsan faucibus.</p>

    <h2>Phasellus placerat maximus purus</h2>
    <p>Aliquam luctus lacinia mauris consequat ultricies. Pellentesque a commodo nisi. Proin pellentesque nec neque sit amet cursus. Nullam eu vehicula orci. Donec vestibulum ex dui, et ullamcorper magna luctus ut. Mauris dolor metus, lobortis vitae venenatis at, dapibus rutrum eros. Sed eleifend in ligula posuere tempus. Proin ultricies elit eu nisl aliquam, eget imperdiet ipsum faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin vel sem quis eros mollis lacinia vitae a turpis. Vestibulum quis lorem at orci interdum blandit. Ut elementum turpis nec libero iaculis ornare. Nunc sed lectus sed ligula hendrerit vulputate nec quis enim. Vestibulum consequat lorem porttitor sapien tristique, ac aliquam nulla tincidunt. In ex nisi, cursus non erat a, sodales pellentesque sapien. Praesent ut aliquet magna.</p>


</div>
{% endblock %}
